openapi: 3.0.1
servers:
  - url: 'https://capture.matter.city/api/v1'
    description: Live
info:
  description: Base URL - https://capture.matter.city/api/v1
  version: 1.0.0
  title: Capture API (v1)
  contact:
    name: API Support
    email: dev@matter.city
    url: https://matter.city/contact
security:
  - ApiKeyAuth: []
tags:
  - name: Sites
paths:
  /sites:
    get:
      summary: >-
        Get sites.
      tags:
        - Sites
      description: >-
        Gets the details of every site that belongs to a user.
      operationId: getSites
      parameters:
        - in: query
          name: polygon
          required: false
          schema:
            type: boolean
            default: false
          description: Include polygon information (true or false), expect GeoJSON or JSON array as a String.
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Site"
  /sites/{site_id}:
    get:
      summary: >-
        Get site by site ID.
      tags:
        - Sites
      description: >-
        Gets details of an individual site.
      operationId: getSiteById
      parameters:
        - in: path
          name: site_id
          schema:
            type: string
          required: true
          description: ID of the site
        - in: query
          name: polygon
          required: false
          schema:
            type: boolean
            default: false
          description: Include polygon information (true or false), expect GeoJSON or JSON array as a String.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties: 
                  data: 
                    type: object
                    $ref: "#/components/schemas/Site"
  /sites/{site_id}/devices:
    get:
      summary: Get devices by site ID.
      tags:
        - Sites
      description: >-
        Gets details of every device belonging to a site.
      operationId: getDevicesBySiteId
      parameters:
        - in: path
          name: site_id
          schema:
            type: string
          required: true
          description: ID of the site
        - in: query
          name: levels
          required: false
          schema:
            type: boolean
            default: false
          description: Include level information (true or false)
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Device"
  /sites/{site_id}/devices/{device_id}:
    get:
      summary: >-
        Get device by device ID.
      tags:
        - Sites
      description: >-
        Gets details of an individual device.
      operationId: getDeviceById
      parameters:
        - in: path
          name: site_id
          schema:
            type: string
          required: true
          description: ID of the site
        - in: query
          name: levels
          required: false
          schema:
            type: boolean
            default: false
          description: Include level information (true or false)
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties: 
                  data: 
                    type: object
                    $ref: "#/components/schemas/Device"
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
  schemas:
    Device:
      type: object
      properties:
        device_id:
          type: integer
          description: ID of the device
          example: 239
        device_system_name:
          type: string
          description: System name of the device
          example: COM - 16
        device_custom_name:
          type: string
          description: Custom name of the device
          example: Blueberry Street (General Waste)
        device_type:
          type: string
          description: Type of the device (bin or pit)
          example: bin
        device_variant:
          type: string
          description: Variant of the device
          example: bin240
        device_waste_type:
          type: string
          nullable: true
          description: Waste type of the device (for bins)
          example: General Waste
        latitude:
          type: number
          format: double
          description: Latitude coordinate of the device
          example: -31.918329023068594
        longitude:
          type: number
          format: double
          description: Longitude coordinate of the device
          example: 115.82142584547067
        install_timestamp:
          type: object
          properties:
            ts_formated:
              type: string
              description: Formatted installation timestamp
              example: 21-02-2023
            ts_unix:
              type: number
              description: Unix timestamp of installation
              example: 1676942383
        level:
          type: object
          nullable: true
          properties:
            percentage_full:
              type: number
              format: double
              nullable: true
              description: Percentage full of the device (for bins)
              example: 50.0
            fill_level:
              type: object
              nullable: true
              properties:
                value:
                  type: number
                  format: double
                  description: Fill level value of the device (for pits)
                  example: 1500.0
                unit:
                  type: number
                  format: double
                  description: Fill level unit of the device (for pits)
                  example: mm
            temperature:
              type: object
              nullable: true
              properties:
                value:
                  type: number
                  format: double
                  description: Temperature value of the device (for bins)
                  example: 27.5
                unit:
                  type: number
                  format: double
                  description: Temperature unit of the device (for bins)
                  example: Celcius
            light_level:
              type: number
              format: double
              nullable: true
              description: Light level of the device in Lux (for pits)
              example: 456.0
            timestamp:
              type: object
              properties:
                ts_formated:
                  type: string
                  description: Formatted timestamp
                  example: 21-02-2023
                ts_unix:
                  type: number
                  description: Unix timestamp
                  example: 1676942383
    Site:
      type: object
      properties:
        site_id:
          type: integer
          format: int32
          description: ID of the site
          example: 1
        site_name:
          type: string
          example: City of Melbourne
          description: Name of the site
        site_type:
          type: string
          description: Type of the site
          example: Council
        polygon:
          type: object
          nullable: true
          properties:
            area:
              type: string
              description: Area of the polygon (GeoJSON or JSON array of coordinates as a String)
              example:
                [
                  [-31.906919019953367, 115.82555447242879],
                  [-31.906941789433905, 115.82409951863467],
                  [-31.90781613322438, 115.8240941498015],
                  [-31.907834348631678, 115.82558131659475],
                ]
            type:
              type: string
              description: Type of the polygon (GeoJSON or JSON array)
              example: array
